# Restaurants recommendation

In [457]:
import os
import json
import pandas as pd
import numpy as np
from copy import deepcopy


import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns
from pylab import savefig

from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.cluster import KMeans
from sklearn.preprocessing import LabelEncoder, MultiLabelBinarizer
from sklearn.pipeline import Pipeline
from sklearn.metrics import mean_absolute_error

from keras.models import Sequential, Model, load_model
from keras.utils.vis_utils import model_to_dot
from keras.optimizers import Adam
from keras.layers import Embedding, Reshape, Activation, Input, Dense, Flatten, Dropout, dot
from keras.constraints import non_neg
from IPython.display import SVG

In [458]:
Ratings_TripAdvisor = pd.read_csv('TA_restaurants_curated.csv')
Ratings_TripAdvisor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125527 entries, 0 to 125526
Data columns (total 11 columns):
Unnamed: 0           125527 non-null int64
Name                 125527 non-null object
City                 125527 non-null object
Cuisine Style        94176 non-null object
Ranking              115876 non-null float64
Rating               115897 non-null float64
Price Range          77672 non-null object
Number of Reviews    108183 non-null float64
Reviews              115911 non-null object
URL_TA               125527 non-null object
ID_TA                125527 non-null object
dtypes: float64(3), int64(1), object(7)
memory usage: 10.5+ MB

In [459]:
Ratings_TripAdvisor.head()

,Unnamed: 0,Name,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA
0,0,Martine of Martine's Table,Amsterdam,"['French', 'Dutch', 'European']",1.0,5.0,$$ - $$$,136.0,"[['Just like home', 'A Warm Welcome to Wintry ...",/Restaurant_Review-g188590-d11752080-Reviews-M...,d11752080
1,1,De Silveren Spiegel,Amsterdam,"['Dutch', 'European', 'Vegetarian Friendly', '...",2.0,4.5,$$$$,812.0,"[['Great food and staff', 'just perfect'], ['0...",/Restaurant_Review-g188590-d693419-Reviews-De_...,d693419
2,2,La Rive,Amsterdam,"['Mediterranean', 'French', 'International', '...",3.0,4.5,$$$$,567.0,"[['Satisfaction', 'Delicious old school restau...",/Restaurant_Review-g188590-d696959-Reviews-La_...,d696959
3,3,Vinkeles,Amsterdam,"['French', 'European', 'International', 'Conte...",4.0,5.0,$$$$,564.0,"[['True five star dinner', 'A superb evening o...",/Restaurant_Review-g188590-d1239229-Reviews-Vi...,d1239229
4,4,Librije's Zusje Amsterdam,Amsterdam,"['Dutch', 'European', 'International', 'Vegeta...",5.0,4.5,$$$$,316.0,"[['Best meal.... EVER', 'super food experience...",/Restaurant_Review-g188590-d6864170-Reviews-Li...,d6864170

In [460]:
ColumnsDrop = ['URL_TA']
Ratings_v2 = Ratings_TripAdvisor.drop(ColumnsDrop, axis = 1)
Ratings_v2.head()

,Unnamed: 0,Name,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,ID_TA
0,0,Martine of Martine's Table,Amsterdam,"['French', 'Dutch', 'European']",1.0,5.0,$$ - $$$,136.0,"[['Just like home', 'A Warm Welcome to Wintry ...",d11752080
1,1,De Silveren Spiegel,Amsterdam,"['Dutch', 'European', 'Vegetarian Friendly', '...",2.0,4.5,$$$$,812.0,"[['Great food and staff', 'just perfect'], ['0...",d693419
2,2,La Rive,Amsterdam,"['Mediterranean', 'French', 'International', '...",3.0,4.5,$$$$,567.0,"[['Satisfaction', 'Delicious old school restau...",d696959
3,3,Vinkeles,Amsterdam,"['French', 'European', 'International', 'Conte...",4.0,5.0,$$$$,564.0,"[['True five star dinner', 'A superb evening o...",d1239229
4,4,Librije's Zusje Amsterdam,Amsterdam,"['Dutch', 'European', 'International', 'Vegeta...",5.0,4.5,$$$$,316.0,"[['Best meal.... EVER', 'super food experience...",d6864170

In [461]:
sum(Ratings_v2['Price Range'].isnull())

47855

In [462]:
Ratings_v3 = Ratings_v2.dropna().drop(['Unnamed: 0'], axis = 1)

In [463]:
Ratings_v3.head()

,Name,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,ID_TA
0,Martine of Martine's Table,Amsterdam,"['French', 'Dutch', 'European']",1.0,5.0,$$ - $$$,136.0,"[['Just like home', 'A Warm Welcome to Wintry ...",d11752080
1,De Silveren Spiegel,Amsterdam,"['Dutch', 'European', 'Vegetarian Friendly', '...",2.0,4.5,$$$$,812.0,"[['Great food and staff', 'just perfect'], ['0...",d693419
2,La Rive,Amsterdam,"['Mediterranean', 'French', 'International', '...",3.0,4.5,$$$$,567.0,"[['Satisfaction', 'Delicious old school restau...",d696959
3,Vinkeles,Amsterdam,"['French', 'European', 'International', 'Conte...",4.0,5.0,$$$$,564.0,"[['True five star dinner', 'A superb evening o...",d1239229
4,Librije's Zusje Amsterdam,Amsterdam,"['Dutch', 'European', 'International', 'Vegeta...",5.0,4.5,$$$$,316.0,"[['Best meal.... EVER', 'super food experience...",d6864170

In [464]:
Ratings_v3.rename(columns=lambda x: x.replace(" ", "_"), inplace=True)
Ratings_v3.head()

,Name,City,Cuisine_Style,Ranking,Rating,Price_Range,Number_of_Reviews,Reviews,ID_TA
0,Martine of Martine's Table,Amsterdam,"['French', 'Dutch', 'European']",1.0,5.0,$$ - $$$,136.0,"[['Just like home', 'A Warm Welcome to Wintry ...",d11752080
1,De Silveren Spiegel,Amsterdam,"['Dutch', 'European', 'Vegetarian Friendly', '...",2.0,4.5,$$$$,812.0,"[['Great food and staff', 'just perfect'], ['0...",d693419
2,La Rive,Amsterdam,"['Mediterranean', 'French', 'International', '...",3.0,4.5,$$$$,567.0,"[['Satisfaction', 'Delicious old school restau...",d696959
3,Vinkeles,Amsterdam,"['French', 'European', 'International', 'Conte...",4.0,5.0,$$$$,564.0,"[['True five star dinner', 'A superb evening o...",d1239229
4,Librije's Zusje Amsterdam,Amsterdam,"['Dutch', 'European', 'International', 'Vegeta...",5.0,4.5,$$$$,316.0,"[['Best meal.... EVER', 'super food experience...",d6864170

In [465]:
Ratings_v3['City'].unique()

array(['Amsterdam', 'Athens', 'Barcelona', 'Berlin', 'Bratislava',
       'Brussels', 'Budapest', 'Copenhagen', 'Dublin', 'Edinburgh',
       'Geneva', 'Hamburg', 'Helsinki', 'Krakow', 'Lisbon', 'Ljubljana',
       'London', 'Luxembourg', 'Lyon', 'Madrid', 'Milan', 'Munich',
       'Oporto', 'Oslo', 'Paris', 'Prague', 'Rome', 'Stockholm', 'Vienna',
       'Warsaw', 'Zurich'], dtype=object)

In [466]:
Ratings_v3['Price_Range'] = Ratings_v3['Price_Range'].apply(lambda x: len(x.split('-')[0].strip()))
Ratings_v3.head()

,Name,City,Cuisine_Style,Ranking,Rating,Price_Range,Number_of_Reviews,Reviews,ID_TA
0,Martine of Martine's Table,Amsterdam,"['French', 'Dutch', 'European']",1.0,5.0,2,136.0,"[['Just like home', 'A Warm Welcome to Wintry ...",d11752080
1,De Silveren Spiegel,Amsterdam,"['Dutch', 'European', 'Vegetarian Friendly', '...",2.0,4.5,4,812.0,"[['Great food and staff', 'just perfect'], ['0...",d693419
2,La Rive,Amsterdam,"['Mediterranean', 'French', 'International', '...",3.0,4.5,4,567.0,"[['Satisfaction', 'Delicious old school restau...",d696959
3,Vinkeles,Amsterdam,"['French', 'European', 'International', 'Conte...",4.0,5.0,4,564.0,"[['True five star dinner', 'A superb evening o...",d1239229
4,Librije's Zusje Amsterdam,Amsterdam,"['Dutch', 'European', 'International', 'Vegeta...",5.0,4.5,4,316.0,"[['Best meal.... EVER', 'super food experience...",d6864170

In [467]:
len(Ratings_v3), len(Ratings_v3['Name'].unique())

(74225, 67862)

In [468]:
Ratings_v4 = Ratings_v3.drop(['Reviews'], axis = 1)
Ratings_v4.head()

,Name,City,Cuisine_Style,Ranking,Rating,Price_Range,Number_of_Reviews,ID_TA
0,Martine of Martine's Table,Amsterdam,"['French', 'Dutch', 'European']",1.0,5.0,2,136.0,d11752080
1,De Silveren Spiegel,Amsterdam,"['Dutch', 'European', 'Vegetarian Friendly', '...",2.0,4.5,4,812.0,d693419
2,La Rive,Amsterdam,"['Mediterranean', 'French', 'International', '...",3.0,4.5,4,567.0,d696959
3,Vinkeles,Amsterdam,"['French', 'European', 'International', 'Conte...",4.0,5.0,4,564.0,d1239229
4,Librije's Zusje Amsterdam,Amsterdam,"['Dutch', 'European', 'International', 'Vegeta...",5.0,4.5,4,316.0,d6864170

In [469]:
Ratings_v4['Cuisine_Style'][0]

"['French', 'Dutch', 'European']"

In [470]:
import re, string
regex = re.compile('[%s]' % re.escape(string.punctuation))
def test_re(s):  # From Vinko's solution, with fix.
    return regex.sub('', s)
#Ratings_v4['Cuisine_Style'].apply(lambda x : print(x[0]) )
Ratings_v4['Cuisine_Style'] = Ratings_v4['Cuisine_Style'].apply(lambda x : [re.sub(r'[^\w\s]','',y.strip()) for y in x.strip().split(',')][0])
#Ratings_v4['Cuisine_Style'][0]

In [471]:
Ratings_v4.head()

,Name,City,Cuisine_Style,Ranking,Rating,Price_Range,Number_of_Reviews,ID_TA
0,Martine of Martine's Table,Amsterdam,French,1.0,5.0,2,136.0,d11752080
1,De Silveren Spiegel,Amsterdam,Dutch,2.0,4.5,4,812.0,d693419
2,La Rive,Amsterdam,Mediterranean,3.0,4.5,4,567.0,d696959
3,Vinkeles,Amsterdam,French,4.0,5.0,4,564.0,d1239229
4,Librije's Zusje Amsterdam,Amsterdam,Dutch,5.0,4.5,4,316.0,d6864170

In [472]:
grouped = Ratings_v4.groupby(['City', 'Name'])['Rating'].mean()
grouped2 = grouped.groupby(level = 'City').nlargest(50).reset_index(level= 0, drop = True)

In [473]:
#grouped.groupby(level = 'City').nlargest(50).reset_index(level= 0, drop = True)
grouped3 = grouped2.unstack(level = 0)

In [474]:
grouped2 = pd.DataFrame(grouped2.reset_index())

In [475]:
grouped2.columns
Cities =grouped2['City'].unique()
restaurants = grouped2['Name'].unique()
Ratings_v4[Ratings_v4['Name'].isin(restaurants)]

,Name,City,Cuisine_Style,Ranking,Rating,Price_Range,Number_of_Reviews,ID_TA
127,Arles,Amsterdam,French,128.0,5.0,2,87.0,d11671406
141,Bistrot des Alpes,Amsterdam,French,142.0,5.0,2,136.0,d7735788
233,Benny’s Chicken,Amsterdam,Dutch,234.0,5.0,1,88.0,d10522612
359,Cuddle,Amsterdam,Bar,360.0,5.0,1,116.0,d11949427
421,Broer,Amsterdam,Dutch,422.0,5.0,2,50.0,d10525937
475,Chez Lorraine,Amsterdam,French,476.0,5.0,2,46.0,d12850098
596,Cafe Chantilly,Amsterdam,Cafe,597.0,5.0,1,42.0,d10136222
597,Carnivore Bar-Smoke BBQ,Amsterdam,American,598.0,5.0,2,54.0,d12443830
649,De Biertuin Prinsengracht,Amsterdam,Bar,650.0,5.0,2,24.0,d12176036
660,Barasti,Amsterdam,Dutch,661.0,5.0,2,26.0,d12600385
707,Corner Bakery Amsterdam West,Amsterdam,International,708.0,5.0,2,20.0,d13124903
840,"Bodon, La Grande Brasserie",Amsterdam,French,842.0,5.0,4,17.0,d12908792
843,Benji's,Amsterdam,International,845.0,5.0,2,21.0,d11829815
885,Berry,Amsterdam,Cafe,887.0,4.5,1,52.0,d6947158
1073,Da Magda,Amsterdam,Italian,1076.0,5.0,1,33.0,d8711434
1095,Anne Maike of Casa Curiosa,Amsterdam,Italian,1098.0,5.0,2,17.0,d11752106
1199,Bar Joost,Amsterdam,Bar,1202.0,5.0,1,34.0,d8464607
1250,I Kriti,Amsterdam,Mediterranean,1253.0,4.5,2,51.0,d804951
1273,Golden Chopsticks,Amsterdam,Chinese,1276.0,3.5,2,199.0,d3297220
1274,De Kleine Kaart,Amsterdam,Dutch,1277.0,5.0,2,15.0,d10746759
1305,BROODJESZAAK t KUYLTJE,Amsterdam,Dutch,1308.0,5.0,1,16.0,d9865646
1324,Cafe Riviera,Amsterdam,Bar,1327.0,5.0,2,20.0,d10353848
1354,Croissanterie Friends,Amsterdam,Cafe,1357.0,5.0,1,27.0,d3738224
1360,De Witte Zwaan,Amsterdam,Dutch,1363.0,5.0,2,7.0,d12950641
1404,Arepa Shop,Amsterdam,Vegetarian Friendly,1407.0,5.0,1,11.0,d12016414
1426,Anna's SpecialTeas,Amsterdam,Cafe,1429.0,5.0,1,9.0,d12629044
1433,Clone 42,Amsterdam,European,1436.0,5.0,2,24.0,d11875274
1450,Cafe Sage,Amsterdam,Cafe,1453.0,5.0,2,12.0,d11659325
1453,Alex + Pinard,Amsterdam,French,1456.0,5.0,2,6.0,d13156629
1464,Cafe Dinard,Amsterdam,Seafood,1467.0,5.0,2,10.0,d12103350
...,...,...,...,...,...,...,...,...
124433,Chimy's,Zurich,Asian,576.0,5.0,2,5.0,d13112678
124473,Felix,Zurich,Bar,617.0,5.0,2,7.0,d12215282
124490,Restaurant Frieden,Zurich,American,634.0,5.0,4,6.0,d12696113
124497,La Piazzetta,Zurich,Italian,641.0,4.0,2,102.0,d1125102
124516,Lock in Lock out Bar und Take away,Zurich,Fast Food,660.0,5.0,1,5.0,d13135646
124547,Rosita's Food & Drinks,Zurich,Seafood,691.0,5.0,1,8.0,d8036166
124558,Dogfather Hotdogs & more,Zurich,American,702.0,5.0,2,4.0,d13207517
124580,Hiltl Akademie,Zurich,Indian,724.0,5.0,2,4.0,d12864916
124582,Oak Bar,Zurich,Swiss,726.0,5.0,2,4.0,d12615151
124593,SALI e TABACCHI,Zurich,Mediterranean,737.0,5.0,2,5.0,d8628243
124603,Restaurant Lowen-Siam,Zurich,Thai,747.0,5.0,2,6.0,d8594124
124633,Delicias Latinas,Zurich,South American,777.0,5.0,2,5.0,d10167356
124636,Klara's Kitchen,Zurich,Cafe,780.0,5.0,1,9.0,d8501286
124639,Restaurant & Tapas Bar Silba,Zurich,Italian,783.0,5.0,2,5.0,d3834000
124656,Boreal Coffee Shop,Zurich,Cafe,800.0,5.0,1,2.0,d12833793
124658,Vom Fischer & syner Fru,Zurich,Seafood,802.0,5.0,2,3.0,d12162696
124660,4 You Bar and Karoke,Zurich,Thai,804.0,5.0,2,2.0,d12845280
124661,Vegan Velo,Zurich,Italian,805.0,5.0,2,2.0,d13004595
124662,Alpenstern,Zurich,Swiss,806.0,5.0,2,2.0,d12946601
124663,Kafichanne,Zurich,European,807.0,5.0,2,3.0,d10326103
124672,Cafe Jeunesse,Zurich,Italian,816.0,5.0,2,5.0,d3803003
124684,Pizzeria Trattoria Da Michele,Zurich,Italian,828.0,5.0,2,21.0,d4002160
124715,Barrio5,Zurich,Mediterranean,859.0,5.0,2,4.0,d10262228
124744,Edo Garden,Zurich,Asian,888.0,5.0,2,4.0,d2142318
124770,Barekunst,Zurich,Swiss,914.0,5.0,2,5.0,d7724898
124794,Danishluxuryfoods.com,Zurich,European,938.0,5.0,4,2.0,d12240595
125268,Krispy Krost,Zurich,Italian,1413.0,5.0,1,8.0,d12169318
125393,Cafe Complet,Zurich,Swiss,1539.0,5.0,2,4.0,d13202627
125395,Burgstein`s Gasthaus Penalty,Zurich,Austrian,1541.0,5.0,2,2.0,d12652562
125412,Bacaro,Zurich,Bar,1558.0,3.0,2,4.0,d11888593

In [476]:
Ratings_v5 = Ratings_v4[Ratings_v4['Name'].isin(restaurants)]
#Ratings_v5 = Ratings_v4[Ratings_v4['City'].isin(list(R.index))]
#R = Ratings_v4.groupby(['City']).agg(sum).sort_values('Number_of_Reviews', ascending = False).head(n= 10)
Ratings_v5

,Name,City,Cuisine_Style,Ranking,Rating,Price_Range,Number_of_Reviews,ID_TA
127,Arles,Amsterdam,French,128.0,5.0,2,87.0,d11671406
141,Bistrot des Alpes,Amsterdam,French,142.0,5.0,2,136.0,d7735788
233,Benny’s Chicken,Amsterdam,Dutch,234.0,5.0,1,88.0,d10522612
359,Cuddle,Amsterdam,Bar,360.0,5.0,1,116.0,d11949427
421,Broer,Amsterdam,Dutch,422.0,5.0,2,50.0,d10525937
475,Chez Lorraine,Amsterdam,French,476.0,5.0,2,46.0,d12850098
596,Cafe Chantilly,Amsterdam,Cafe,597.0,5.0,1,42.0,d10136222
597,Carnivore Bar-Smoke BBQ,Amsterdam,American,598.0,5.0,2,54.0,d12443830
649,De Biertuin Prinsengracht,Amsterdam,Bar,650.0,5.0,2,24.0,d12176036
660,Barasti,Amsterdam,Dutch,661.0,5.0,2,26.0,d12600385
707,Corner Bakery Amsterdam West,Amsterdam,International,708.0,5.0,2,20.0,d13124903
840,"Bodon, La Grande Brasserie",Amsterdam,French,842.0,5.0,4,17.0,d12908792
843,Benji's,Amsterdam,International,845.0,5.0,2,21.0,d11829815
885,Berry,Amsterdam,Cafe,887.0,4.5,1,52.0,d6947158
1073,Da Magda,Amsterdam,Italian,1076.0,5.0,1,33.0,d8711434
1095,Anne Maike of Casa Curiosa,Amsterdam,Italian,1098.0,5.0,2,17.0,d11752106
1199,Bar Joost,Amsterdam,Bar,1202.0,5.0,1,34.0,d8464607
1250,I Kriti,Amsterdam,Mediterranean,1253.0,4.5,2,51.0,d804951
1273,Golden Chopsticks,Amsterdam,Chinese,1276.0,3.5,2,199.0,d3297220
1274,De Kleine Kaart,Amsterdam,Dutch,1277.0,5.0,2,15.0,d10746759
1305,BROODJESZAAK t KUYLTJE,Amsterdam,Dutch,1308.0,5.0,1,16.0,d9865646
1324,Cafe Riviera,Amsterdam,Bar,1327.0,5.0,2,20.0,d10353848
1354,Croissanterie Friends,Amsterdam,Cafe,1357.0,5.0,1,27.0,d3738224
1360,De Witte Zwaan,Amsterdam,Dutch,1363.0,5.0,2,7.0,d12950641
1404,Arepa Shop,Amsterdam,Vegetarian Friendly,1407.0,5.0,1,11.0,d12016414
1426,Anna's SpecialTeas,Amsterdam,Cafe,1429.0,5.0,1,9.0,d12629044
1433,Clone 42,Amsterdam,European,1436.0,5.0,2,24.0,d11875274
1450,Cafe Sage,Amsterdam,Cafe,1453.0,5.0,2,12.0,d11659325
1453,Alex + Pinard,Amsterdam,French,1456.0,5.0,2,6.0,d13156629
1464,Cafe Dinard,Amsterdam,Seafood,1467.0,5.0,2,10.0,d12103350
...,...,...,...,...,...,...,...,...
124433,Chimy's,Zurich,Asian,576.0,5.0,2,5.0,d13112678
124473,Felix,Zurich,Bar,617.0,5.0,2,7.0,d12215282
124490,Restaurant Frieden,Zurich,American,634.0,5.0,4,6.0,d12696113
124497,La Piazzetta,Zurich,Italian,641.0,4.0,2,102.0,d1125102
124516,Lock in Lock out Bar und Take away,Zurich,Fast Food,660.0,5.0,1,5.0,d13135646
124547,Rosita's Food & Drinks,Zurich,Seafood,691.0,5.0,1,8.0,d8036166
124558,Dogfather Hotdogs & more,Zurich,American,702.0,5.0,2,4.0,d13207517
124580,Hiltl Akademie,Zurich,Indian,724.0,5.0,2,4.0,d12864916
124582,Oak Bar,Zurich,Swiss,726.0,5.0,2,4.0,d12615151
124593,SALI e TABACCHI,Zurich,Mediterranean,737.0,5.0,2,5.0,d8628243
124603,Restaurant Lowen-Siam,Zurich,Thai,747.0,5.0,2,6.0,d8594124
124633,Delicias Latinas,Zurich,South American,777.0,5.0,2,5.0,d10167356
124636,Klara's Kitchen,Zurich,Cafe,780.0,5.0,1,9.0,d8501286
124639,Restaurant & Tapas Bar Silba,Zurich,Italian,783.0,5.0,2,5.0,d3834000
124656,Boreal Coffee Shop,Zurich,Cafe,800.0,5.0,1,2.0,d12833793
124658,Vom Fischer & syner Fru,Zurich,Seafood,802.0,5.0,2,3.0,d12162696
124660,4 You Bar and Karoke,Zurich,Thai,804.0,5.0,2,2.0,d12845280
124661,Vegan Velo,Zurich,Italian,805.0,5.0,2,2.0,d13004595
124662,Alpenstern,Zurich,Swiss,806.0,5.0,2,2.0,d12946601
124663,Kafichanne,Zurich,European,807.0,5.0,2,3.0,d10326103
124672,Cafe Jeunesse,Zurich,Italian,816.0,5.0,2,5.0,d3803003
124684,Pizzeria Trattoria Da Michele,Zurich,Italian,828.0,5.0,2,21.0,d4002160
124715,Barrio5,Zurich,Mediterranean,859.0,5.0,2,4.0,d10262228
124744,Edo Garden,Zurich,Asian,888.0,5.0,2,4.0,d2142318
124770,Barekunst,Zurich,Swiss,914.0,5.0,2,5.0,d7724898
124794,Danishluxuryfoods.com,Zurich,European,938.0,5.0,4,2.0,d12240595
125268,Krispy Krost,Zurich,Italian,1413.0,5.0,1,8.0,d12169318
125393,Cafe Complet,Zurich,Swiss,1539.0,5.0,2,4.0,d13202627
125395,Burgstein`s Gasthaus Penalty,Zurich,Austrian,1541.0,5.0,2,2.0,d12652562
125412,Bacaro,Zurich,Bar,1558.0,3.0,2,4.0,d11888593

In [477]:
Ratings_v5.loc[(Ratings_v5['City'] == 'Amsterdam') & (Ratings_v5['Price_Range'] == 1), ['Name', 'Cuisine_Style']]

                        Name        Cuisine_Style
233          Benny’s Chicken                Dutch
359                   Cuddle                  Bar
596           Cafe Chantilly                 Cafe
885                    Berry                 Cafe
1073                Da Magda              Italian
1199               Bar Joost                  Bar
1305  BROODJESZAAK t KUYLTJE                Dutch
1354   Croissanterie Friends                 Cafe
1404              Arepa Shop  Vegetarian Friendly
1426      Anna's SpecialTeas                 Cafe
1691            Broodje Daan                Dutch
1801        Amona Food Truck       Middle Eastern
1808       Bouillon Brothers        International
1945    Baking Lab Amsterdam       Middle Eastern
1977           't Halve Werk                Dutch
2184           De Smaaksalon              Italian
2273               Casa Food        Mediterranean
2601          Bakker Bertram                Dutch

In [478]:
#R1 = Ratings_v4.groupby(['City']).groupby(['Name'])['Number_of_Reviews'].agg(sum).sort_values(ascending = False)
#R1
#Ratings_v4.set_index(['City', 'Name'], inplace = True)

In [479]:
#Ratings_v4.loc[['Amsterdam', "De Silveren Spiegel"]]

In [480]:
#Ratings_v4.reset_index(drop= True)
Ratings_v5['Cuisine_Style']

127                    French
141                    French
233                     Dutch
359                       Bar
421                     Dutch
475                    French
596                      Cafe
597                  American
649                       Bar
660                     Dutch
707             International
840                    French
843             International
885                      Cafe
1073                  Italian
1095                  Italian
1199                      Bar
1250            Mediterranean
1273                  Chinese
1274                    Dutch
1305                    Dutch
1324                      Bar
1354                     Cafe
1360                    Dutch
1404      Vegetarian Friendly
1426                     Cafe
1433                 European
1450                     Cafe
1453                   French
1464                  Seafood
                 ...
124433                  Asian
124473                    Bar
124490               American
124497                Italian
124516              Fast Food
124547                Seafood
124558               American
124580                 Indian
124582                  Swiss
124593          Mediterranean
124603                   Thai
124633         South American
124636                   Cafe
124639                Italian
124656                   Cafe
124658                Seafood
124660                   Thai
124661                Italian
124662                  Swiss
124663               European
124672                Italian
124684                Italian
124715          Mediterranean
124744                  Asian
124770                  Swiss
124794               European
125268                Italian
125393                  Swiss
125395               Austrian
125412                    Bar
Name: Cuisine_Style, Length: 1678, dtype: object

In [481]:
Ratings_v5['City'].unique()

array(['Amsterdam', 'Athens', 'Barcelona', 'Berlin', 'Bratislava',
       'Brussels', 'Budapest', 'Copenhagen', 'Dublin', 'Edinburgh',
       'Geneva', 'Hamburg', 'Helsinki', 'Krakow', 'Lisbon', 'Ljubljana',
       'London', 'Luxembourg', 'Lyon', 'Madrid', 'Milan', 'Munich',
       'Oporto', 'Oslo', 'Paris', 'Prague', 'Rome', 'Stockholm', 'Vienna',
       'Warsaw', 'Zurich'], dtype=object)

In [482]:
Ratings_v5 = Ratings_v5.drop(['Ranking', 'Number_of_Reviews', 'ID_TA'], axis = 1)

In [483]:
Ratings_v5.to_csv('restaurant_app/Restaurants_cleaned.csv', index= False)
#Ratings_v4

In [484]:
Ratings_v6 = pd.read_csv('restaurant_app/Restaurants_cleaned.csv')
#list(R.index)
Ratings_v6['Cuisine_Style'].values

array(['French', 'French', 'Dutch', ..., 'Swiss', 'Austrian', 'Bar'],
      dtype=object)

In [485]:
#Ratings_v5 = Ratings_v4[Ratings_v4['City'].isin(list(R.index))]
#Ratings_v5

In [124]:
#one_hot = MultiLabelBinarizer()
"""
Ratings_v5 = Ratings_v4.join(pd.DataFrame(one_hot.fit_transform(Ratings_v4.pop('Cuisine_Style')), columns = one_hot.classes_,
                                         index= Ratings_v4.index))  
Ratings_v5.head()

"""

"\nRatings_v5 = Ratings_v4.join(pd.DataFrame(one_hot.fit_transform(Ratings_v4.pop('Cuisine_Style')), columns = one_hot.classes_,\n                                         index= Ratings_v4.index))  \nRatings_v5.head()\n\n"

In [102]:
#one_hot.classes_
#Ratings_v4.join(Ratings_v5['Vegetarian Friendly'])
# Encode labels with value between 0 and n_classes-1
class MultiColumnLabelEncoder:
    def __init__(self, X, columns = None):
        self.df = deepcopy(X)
        self.columns = columns
    def fitransform(self):
        if not self.columns:            
            self.df.apply(LabelEncoder().fit_transform)
        else:
            for col in self.columns:
                #print(self.df[col])
                self.df[col] = LabelEncoder().fit_transform(self.df[col].astype(str))
        return self.df
#LE = MultiColumnLabelEncoder()

In [103]:
LE = MultiColumnLabelEncoder(Ratings_v5, ['Name', 'City', 'ID_TA'])
Ratings_v5 = LE.fitransform()

In [105]:
Ratings_v5 = Ratings_v5.iloc[:,0:7]
Ratings_v5 = Ratings_v5.rename(columns= {'Name':'Restaurants', 'ID_TA':'Users'})

In [106]:
Ratings_v5

,Restaurants,City,Ranking,Rating,Price_Range,Number_of_Reviews,Users
0,25002,0,1.0,5.0,2,136.0,6154
1,10213,0,2.0,4.5,4,812.0,34200
2,20250,0,3.0,4.5,4,567.0,34551
3,42306,0,4.0,5.0,4,564.0,8852
4,23400,0,5.0,4.5,4,316.0,33892
5,8746,0,6.0,4.5,4,745.0,34524
6,43382,0,7.0,4.5,2,1455.0,705
7,4530,0,8.0,4.5,4,675.0,34593
8,38137,0,9.0,4.5,4,923.0,34573
9,34250,0,10.0,4.5,1,450.0,14646
10,39319,0,11.0,4.5,2,295.0,1844
11,13700,0,12.0,4.5,2,967.0,706
12,32018,0,13.0,4.5,4,368.0,39574
13,4028,0,14.0,4.5,2,586.0,24894
14,32129,0,15.0,4.5,4,1246.0,12197
15,14446,0,16.0,4.5,2,1391.0,20847
16,27946,0,17.0,4.5,1,1633.0,44010
17,5040,0,18.0,4.5,4,958.0,44037
18,35745,0,19.0,4.5,2,426.0,31845
19,19772,0,20.0,4.5,2,421.0,258
20,35548,0,21.0,4.5,4,1380.0,22971
21,24145,0,22.0,4.5,4,239.0,43854
22,32500,0,23.0,4.5,2,996.0,16655
24,16580,0,25.0,4.5,2,1958.0,34885
25,14447,0,26.0,4.5,2,2360.0,10975
26,4853,0,27.0,4.5,4,666.0,17398
27,27947,0,28.0,4.5,1,1642.0,26189
28,14908,0,29.0,4.5,2,344.0,12718
29,5115,0,30.0,4.5,2,646.0,20832
30,24105,0,31.0,4.5,2,1869.0,17182
...,...,...,...,...,...,...,...
115013,30037,9,5885.0,4.0,1,12.0,47220
115014,27685,9,5886.0,4.5,1,13.0,35174
115017,43640,9,5889.0,5.0,1,8.0,39693
115021,623,9,5893.0,4.5,2,11.0,11042
115022,19839,9,5894.0,4.0,1,31.0,18303
115023,34873,9,5895.0,3.5,2,145.0,37413
115024,42397,9,5896.0,4.0,2,33.0,3607
115025,16830,9,5897.0,4.0,2,13.0,25651
115026,3331,9,5898.0,3.5,2,253.0,26362
115028,33872,9,5900.0,4.0,2,40.0,30455
115034,15854,9,5906.0,3.5,2,128.0,41257
115035,3270,9,5907.0,3.5,2,126.0,20538
115036,13919,9,5908.0,4.0,2,64.0,25987
115038,20886,9,5910.0,4.5,1,3.0,4285
115042,23399,9,5914.0,4.0,1,40.0,38628
115043,24007,9,5915.0,5.0,2,16.0,25337
115044,25939,9,5916.0,4.0,1,14.0,25634
115047,16048,9,5919.0,3.5,2,480.0,17278
115048,34067,9,5920.0,3.5,2,227.0,15840
115050,20054,9,5922.0,3.5,1,37.0,42458
115051,15461,9,5923.0,4.0,2,18.0,47589
115054,18900,9,5926.0,4.5,2,16.0,44446
115055,28841,9,5927.0,3.5,1,34.0,29375
115057,2455,9,5929.0,4.5,1,22.0,42236
115059,28793,9,5931.0,4.5,1,46.0,26823
115064,34241,9,5936.0,3.5,2,183.0,43089
115066,30021,9,5938.0,4.5,1,10.0,34814
115070,25492,9,5942.0,3.5,2,60.0,8253
115076,42476,9,5948.0,4.0,2,47.0,20883
115077,15631,9,5949.0,3.5,1,217.0,17883

In [19]:
train, test = train_test_split(Ratings_v5, test_size = 0.2)

In [20]:
# 'Restaurants', 'Users'
n_users, n_restaurant = len(Ratings_v5['Users'].unique()), len(Ratings_v5['Restaurants'].unique())
n_latent_factors = 10 # why 8 - 3 main regions, 5 different cost ranges

In [21]:
restaurant_input = Input(shape=[1],name='Item')
restaurant_embedding = Embedding(n_restaurant, n_latent_factors, name='NonNegrestaurant-Embedding', embeddings_constraint=non_neg())(restaurant_input)
restaurant_vec = Flatten(name='Flattenrestaurant')(restaurant_embedding)

user_input = Input(shape=[1],name='User')
user_vec = Flatten(name='FlattenUsers')(Embedding(n_users, n_latent_factors,name='NonNegUser-Embedding',embeddings_constraint=non_neg())(user_input))

prod = dot([restaurant_vec, user_vec], axes=1, normalize=False) #Normalized: yes or no?
model = Model([user_input, restaurant_input], prod)
model.compile('adam', 'mean_squared_error')

WARNING:tensorflow:From /anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [22]:
model.summary()

__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
Item (InputLayer)               (None, 1)            0
__________________________________________________________________________________________________
User (InputLayer)               (None, 1)            0
__________________________________________________________________________________________________
NonNegrestaurant-Embedding (Emb (None, 1, 10)        678620      Item[0][0]
__________________________________________________________________________________________________
NonNegUser-Embedding (Embedding (None, 1, 10)        741350      User[0][0]
__________________________________________________________________________________________________
Flattenrestaurant (Flatten)     (None, 10)           0           NonNegrestaurant-Embedding[0][0]
__________________________________________________________________________________________________
FlattenUsers (Flatten)          (None, 10)           0           NonNegUser-Embedding[0][0]
__________________________________________________________________________________________________
dot_1 (Dot)                     (None, 1)            0           Flattenrestaurant[0][0]
                                                                 FlattenUsers[0][0]
==================================================================================================
Total params: 1,419,970
Trainable params: 1,419,970
Non-trainable params: 0
__________________________________________________________________________________________________

In [ ]:
#add validation data in this step 
history_nonneg = model.fit([train['Users'], train['Restaurants']], 
                           train['Rating'], 
                           epochs=100, verbose=0)

In [ ]:
y_hat = np.round(model.predict([test['Users'], test['Restaurants']]),0)
y_true = test['']
mean_absolute_error(y_true, y_hat)

In [ ]:
model.save('Restaurants_cf_nonneg.h5')

In [ ]:
model = load_model('Restaurants_cf_nonneg.h5')
res = model.get_layer('NonNegrestaurant-Embedding')
res_weights = res.get_weights()[0]
lens = np.linalg.norm(res_weights, axis = 1)
normalized = (res_weights.T / lens).T

In [ ]:
def similarity_out(index):
    dists = np.dot(normalized, normalized[index])
    closest = np.argsort(dists)[::-1]
    return dists

In [ ]:
res_dict = {}
with open("dictionary_res.json", "w+") as f:
    json.dump(res_dict, f)

res_dict